@model IEnumerable<HeroAndVillains.Models.MetaHumanListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PowerType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Home)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArchingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamID)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    @Html.HiddenFor(modelItem=> item.MetaHuamnID)
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PowerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Home)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamID)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MetaHuamnID  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.MetaHuamnID  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.MetaHuamnID })
        </td>
    </tr>
}

</table>
